<div class="container">
  <div class="row form-row">
    <div class="col-xs-12 col-md-4 col-lg-4">
      <div class="form-login">
         <h2 class= "text-center">Assign to another user</h2>

        <%= simple_form_for [@user, @bug] do |f| %>
          <div class="form-inputs">
            <%= f.collection_select(:user_id, @users, :id, :username, :prompt => "User Assignement" ) %>
            <%= f.input_field :state, label: false, type: "text", collection: Bug::STATES, :prompt => "Statut du bug"  %>
          </div>
          <div class="form-actions">
            <%= f.submit "Edit a bug", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div><
  </div>
</div>
